<body style="background-color:#090712"></body>
<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
<div id="page-wrapper" class="container">
<div class="row">
<div class="col-lg-12">
<h1>Dashboard <small>Statistics Overview</small></h1>
<ol class="breadcrumb">
<li class="active"><i class="fa fa-dashboard"></i> Dashboard</li>
</ol>
<div class="alert alert-success alert-dismissable">
<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
Use this boxes to fill your dashboard. You can load number of users, activities, logs, etc...
</div>
</div>
</div>
<div class="row">

<!--<div class="col-lg-3">
    <div class="panel panel-success">
    <div class="panel-heading">
    <div class="row">
    <div class="col-xs-6">
    <i class="fa fa-comments fa-5x"></i>
    </div>
    <div class="col-xs-6 text-right">
    <p class="announcement-text" style="color:white;">Aviso TI!</p>
    </div>
    </div>
    </div>
    <a href="#">
    <div class="panel-footer announcement-bottom">
    <div class="row">
    <div class="col-xs-6">
        <strong>Configurar</strong>
    </div>
    <div class="col-xs-6 text-right">
    <i class="fa fa-arrow-circle-right"></i>
    </div>
    </div>
    </div>
    </a>
    </div>
    </div>

-->
    


</div>
</div>
