<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GS-PANEL- LOGIN</title>
	<link rel="icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/x-icon">
    <link href="{{url_for('static', filename='signin.css')}}" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link href="{{url_for('static', filename='assets/dist/css/bootstrap.min.css')}}" rel="stylesheet">
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
</head>

<body class="text-center">
    <div class="toast-container position-fixed top-0 end-0 p-3" style="z-index: 11">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <!-- HTML do toast -->
                <div class="toast show align-items-center text-white bg-danger border-0" role="alert" aria-live="assertive" aria-atomic="true" id="toast">
                    <div class="d-flex">
                        <div class="toast-body">
                            {% for message in messages %}
                                {% set msg = message.strip() %}
                                {{ msg }}
                            {% endfor %}
                        </div>
                        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                </div>
            {% endif %}
        {% endwith %}
    </div>

    <main class="form-signin">
        <form action="" method="POST">
            {{ form.csrf_token }}
            <img class="mb-0" src="{{url_for('static', filename='gs2.png')}}" alt="" style="margin-left: 10px;" width="200" height="121">
            <h1 class="h3 mb-1 fw-bold">Painel de Login</h1>

            <div class="form-floating" style="padding:2px;">
                {{ form.username(class="form-control", id="floatingInput", placeholder="UserName") }}
                <label for="floatingInput">Usuário</label>
            </div>
            <div class="form-floating" style="padding:2px;">
                {{ form.password(class="form-control",  id="floatingPassword", placeholder="Password", type="password") }}
                <label for="floatingPassword">Senha</label>
            </div>

            <div class="checkbox mb-3">
                <label>
                    {{ form.remember_me(type="checkbox") }} 
                    <strong>lembrar-me</strong>
                </label> 
            </div>

            {{ form.submit(class="w-100 btn btn-lg btn-primary", type="submit", value='Login')}}

            <p class="mt-5 mb-3 text-muted">&copy; 2023–2024 - GalaSistemas by Michael Alexandria.</p>
        </form>
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>
<script>

  var toast_alertok = document.getElementById('toast');
  setTimeout(function() {
    toast_alertok.classList.remove('show');
    toast_alertok.classList.add('hide');
  }, 5000);

</script>