
<div class="toast-container position-fixed top-0 end-0 p-3" style="z-index: 11">

          <!-- HTML do toast -->
          <div class="toast align-items-center text-white bg-danger border-0" role="alert" aria-live="assertive" aria-atomic="true" id="toast">
              <div class="d-flex">
                  <div class="toast-body">
                 
                  </div>
                  <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
              </div>
          </div>

</div>
<div class="container">
     <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="active" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="true">Perfil</button>
        </li>
       <li class="nav-item" role="presentation">
            <button class="" id="security-tab" data-bs-toggle="tab" data-bs-target="#security" type="button" role="tab" aria-controls="security" aria-selected="false">Segurança</button>
        </li>
    </ul>
    <hr class="mt-0 mb-4">
	  <div class="tab-content" id="myTabContent">
       <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      <div class="row">       
	  <div class="col-xl-4">
	           <div class="card mb-4">
                <div class="card-header">Avatar de perfil</div>
                <div class="card-body text-center">
                    <img class="img-account-profile rounded-circle mb-2" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt>
                    <div class="small font-italic text-muted mb-4">JPG or PNG máximo 5mb</div>
                    <button class="btn btn-primary" type="button">Carregar imagem</button>
                </div>
            </div>
        </div>


        <div class="col-md-8">

            <div class="card mb-4"> <!-- Aumentei o tamanho do card com a classe h-100 -->
                <div class="card-header">Detalhes do Perfil</div>
                <div class="card-body">
                    <form action="" method="POST">
					
                            <div class="mb-3">
                                <label class="small mb-1" for="inputUsername">Usuário (Esse é o nome unico que irá aparecer em todo o Painel)</label>
								
                            </div>

<div class="row gx-3 mb-3">

<div class="col-md-6">
<label class="small mb-1" for="inputFirstName">Primeiro Nome</label>

</div>

<div class="col-md-6">
<label class="small mb-1" for="inputLastName">Ultimo Nome</label>
<input class="form-control" disabled id="inputLastName" type="text" placeholder="Ultim nome" value="Boco">
</div>
</div>

<div class="row gx-3 mb-3">

<div class="col-md-6">
<label class="small mb-1" for="inputOrgName">Cargo</label>
            {% if current_user.cargo == "1" %}
                {% set cargo = "Analista N1" %}
            {% endif %}
			
			{% if current_user.cargo == "2" %}
                {% set cargo = "Analista N2" %}
            {% endif %}
			
			{% if current_user.cargo == "3" %}
                {% set cargo = "Assistente" %}
            {% endif %}
			
			{% if current_user.cargo == "4" %}
                {% set cargo = "Lider Atendimento" %}
            {% endif %}
<input class="form-control" disabled id="inputOrgName" type="text" value="{{cargo}}">
</div>

<div class="col-md-6">
<label class="small mb-1" for="inputLocation">Cidade</label>
<input class="form-control disabled" id="inputLocation" type="text" placeholder="Cidade" value="PR, Brazil">
</div>
</div>

<div class="mb-3">
<label class="small mb-1" for="inputEmailAddress">E-mail</label>

</div>

<div class="row gx-3 mb-3">

<div class="col-md-6">
<label class="small mb-1" for="inputPhone">Telefone</label>
<input class="form-control" disabled id="inputPhone" type="tel" placeholder="Seu " value="41-99999-9999">
</div>

<div class="col-md-6">
<label class="small mb-1" for="inputBirthday">Data de nascimento</label>
<input class="form-control" disabled id="inputBirthday" type="text" name="birthday" placeholder="Seu aniversáio" value="06/10/1988">
</div>
</div>


			
                        </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>

<div class="tab-pane fade" id="security" role="tabpanel" aria-labelledby="security-tab">
 <div class="col-lg-6">
                <div class="card mb-4">
                    <div class="card-header">Alterar Senha</div>
                    <div class="card-body">
                        <form action="v_profile" method="POST" id="bform">
						{{ form.csrf_token }}
                            <div class="mb-3">
                                <label class="small mb-1" for="currentPassword">Senha Atual</label>

								{{ form.old_password(class="form-control", placeholder="Digite a senha atual") }}
                            </div>
                            <div class="mb-3">
                                <label class="small mb-1" for="newPassword">Nova Senha</label>

								{{ form.new_password(class="form-control", placeholder="Nova senha") }}
                            </div>
                            <div class="mb-3">
                                <label class="small mb-1" for="confirmPassword">Confirmar Senha</label>
								{{ form.password(class="form-control", placeholder="Confirme a nova senha") }}
                            </div>
       							 {{ form.submit(class="btn btn-info", id="bt1", style="margin-top: 5px;", value='Salvar') }}
                        </form>
                    </div>
                </div>
            </div>
			  </div>
			  
			  <script>
    var profileTab = document.getElementById('profile-tab');
    var securityTab = document.getElementById('security-tab');
    var profileContent = document.getElementById('profile');
    var securityContent = document.getElementById('security');

    profileTab.addEventListener('click', function (event) {
        var bsTab = new bootstrap.Tab(profileTab);
		var scTab = new bootstrap.Tab(securityTab);
		securityContent.classList.add('hide');
        securityContent.classList.remove('active');
        securityContent.classList.remove('show');			
        profileContent.classList.add('active');
    });

    securityTab.addEventListener('click', function (event) {
        var bsTab = new bootstrap.Tab(profileTab);
		var scTab = new bootstrap.Tab(securityTab);
        securityContent.classList.remove('hide');
        profileContent.classList.remove('active');
        securityContent.classList.add('active');
		
		
	    });
		
		
		$(document).ready(function() {
    $('#bt1').on('click', function(event) {
        event.preventDefault(); // Impede o comportamento padrão do botão

        var form = $('#bform');
        var formData = form.serialize(); // Serializa os dados do formulário
        
        $.ajax({
            type: form.attr('method'),
            url: form.attr('action'),
            data: formData,
            success: function(data) {
                // Trate os dados recebidos
                if (data.return === false) {
                    console.log("Retornou false");
                    var toastBody = document.querySelector('.toast-body');
                    toastBody.textContent = data.text;
                    var toast_alert = document.getElementById('toast');
                    toast_alert.classList.remove('hide');
                    toast_alert.classList.add('show'); 

                    toast_alert.classList.remove('bg-success');
                    toast_alert.classList.add('bg-danger');		

                    setTimeout(function() {
        			toast_alert.classList.remove('show');
        			toast_alert.classList.add('hide');
    			}, 5000);					
                   
                    // Faça o que precisar com os dados quando o campo for false
                }
				
				else if(data.return === true){
				   				
				    console.log("Retornou True");
                    var toastBody = document.querySelector('.toast-body');
                    toastBody.textContent = data.text;
                    var toast_alertok = document.getElementById('toast');
                    toast_alertok.classList.remove('hide');
                    toast_alertok.classList.add('show');                    							
					toast_alertok.classList.remove('bg-danger');
                    toast_alertok.classList.add('bg-success');
					swal("Sucesso!", data.text, "success")
							
					setTimeout(function() {
        			toast_alertok.classList.remove('show');
        			toast_alertok.classList.add('hide');
					
    			}, 5000); // 5000 milissegundos = 5 segundos
				}
            },
            error: function(error) {
                // Lide com o erro
                console.error('Erro:', error);
            }
        });
    });
});

$('#toast button').on('click', function() {
    var toast_alert = document.getElementById('toast');
    toast_alert.classList.remove('show')
    toast_alert.classList.add('hide')

    });


</script>
